camposFormulario, p{
    margin: 3%;

    & label{
        margin-right:3%;
    }
}
input{
    margin: 0.5%;
    width: 70%;
    border-radius: 20px;
    border-style: none;
    color: black;
}

.obligatorio{ 
    background-color: rgba(255, 166, 0, 0.555);
}